.itemContainer {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  border: none;
  /* If a link wraps to two lines, this keeps it centered */
  text-align: center;
}

.loopie > p:nth-child(2) {
  color: var(--main-color);
  box-shadow: 2px 2px 8px #0069e239;
  padding: 2px 4px;
  border-radius: 5px;
}

.sponsoredTag {
  color: grey;
  font-size: small;
}

.itemContainer > *,
p {
  margin: 1.5px;
}

hr {
  background-color: var(--main-color);
  height: 1.5px;
  width: 99%;
}
