.pageContainer {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.mapContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mapAndListWrap {
  height: 95%;
  gap: 10px;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.logoContainer,
.logoHeader {
  width: 100%;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 100px;
  width: auto;
  object-fit: contain;
  margin: 10px 0;
}

.logoHeader {
  font-size: medium;
  color: var(--main-color);
  text-align: center;
}

.map {
  border: 2.5px solid var(--main-color);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.locationSelectors {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 5px;
  width: 100%;
}

.mapContainer > .map {
  min-height: 50vh;
}

@media (max-width: 600px) {
  .mapAndListWrap {
    flex-direction: column;
  }
}
