.listContainer {
  border: 2.5px solid var(--main-color);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  height: calc(100% - 5px);
}

.listDash {
  height: 35px;
  width: calc(100% - 10px);
  border-bottom: 2.5px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.listDash > div > select {
  border-radius: 10px;
  font-family: 'Avenir Next Demi Bold';
  padding: 2px 6px;
}

.listDash > div > label {
  margin-right: 5px;
}

.listContent {
  width: 100%;
  height: calc(100% - 47px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .listContainer {
    height: 40%;
  }

  .listDash {
    height: 50px;
  }
  .listDash > div {
    text-align: center;
    font-size: smaller;
    margin: 2px 0;
  }
  .listContent {
    height: calc(100% - 60px);
  }

  .listDash > option {
    font-size: smaller;
  }
  .listDash {
    justify-content: space-between;
  }
}
