.listContainer {
  border: 2.5px solid var(--main-color);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  height: calc(100% - 5px);
}

.listDash {
  height: min-content;
  width: calc(100% - 10px);
  border-bottom: 2.5px solid var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  gap: 5px;
}

.listDash > .sortSelectContainer,
.listDash > .filterSelectContainer {
  display: flex;
  min-width: 200px;
  width: fit-content;
  align-items: center;
}

.sortSelectContainer > select {
  height: 34px;
  border-color: black;
}

.listDash > div > select {
  border-radius: 10px;
  font-family: 'Avenir Next Demi Bold';
  padding: 2px 6px;
}

.listDash > div > label {
  margin-right: 5px;
}

.listContent {
  width: 100%;
  height: calc(100% - 93.5px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .listContainer {
    height: 50%;
  }

  .listDash > div {
    text-align: center;
    font-size: smaller;
    margin: 2px 0;
  }
  .listContent {
    height: calc(100% - 98px);
  }

  .listDash > option {
    font-size: smaller;
  }
  .listDash {
    justify-content: space-between;
  }
}
